
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
}

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

ion-card {
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  width: 800px;
  max-width: 100%;
  color: #ffffff;
  position: relative;
}

ion-card.user-message {
  background-color: #bedfc4;
  color: black;
  align-self: flex-end;
}

ion-card.ai-message {
  background-color: #F2F2F2;
  color: black;
  align-self: flex-start;
}

@media (prefers-color-scheme: dark) {
  ion-card.user-message {
    background-color: #1a1a1a;
    color: white;
  }

  ion-card.ai-message {
    background-color: #2a2a2a;
    color: white;
  }
}

ion-footer {
  width: 100%;
  background-color: var(--ion-color-light, #1f1f1f);
  color: var(--ion-color-dark, #ffffff);
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  padding: 10px;
}

ion-button {
  color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  transition: opacity 0.3s;
}