<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sikeres Fizetés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="success-container">
    <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
    <h2>Sikeres Fizetés</h2>
    <p>A fizetés sikeresen befejeződött. Köszönjük a vásárlást!</p>
    <ion-button expand="full" color="primary" routerLink="/home">Vissza a Főoldalra</ion-button>
  </div>
</ion-content>
