<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="signup-container">
    <form [formGroup]="form">
      <ion-item lines="full">
        <ion-input formControlName="name" label="Név" label-placement="floating" type="text"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input formControlName="email" label="Email" label-placement="floating" type="email" placeholder="email@domain.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input formControlName="password" label="Jelszó" label-placement="floating" type="password"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input formControlName="confirmPassword" label="Jelszó megerősítése" label-placement="floating" type="password"></ion-input>
      </ion-item>
      
      <ion-button expand="block" type="submit" [disabled]="form.invalid" (click)="signup(form)" id="login">Regisztráció</ion-button>
    </form>
  </div>
  
  <ion-toast
    position="bottom"
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
