<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Termék részletei</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="product-details-content">
  <div class="product-details" *ngIf="product">
    <img [alt]="product.name" [src]="product.imageUrl" class="product-image" />

    <div class="product-info">
      <h1 class="product-name">{{ product.name }}</h1>
      <h2 class="product-category">{{ product.category }}</h2>
      <p class="product-price"><strong>{{ product.price }} HUF</strong></p>

      <div class="sizes-section">
        <ion-label>Sizes:</ion-label>
        <div class="chips">
          <ion-chip
            *ngFor="let size of getAvailableSizes(product)"
            [color]="product.stock[size] > 0 ? 'primary' : 'medium'"
            [disabled]="product.stock[size] === 0"
            [outline]="selectedSize[product.id] == size"
            (click)="selectSize(product, size)"
            [class.selected]="selectedSize[product.id] === size">
            {{ size }}
          </ion-chip>
        </div>
      </div>

      <p class="product-color">Color: {{ product.color }}</p>

      <div *ngIf="loggedInUserRole === 'admin'" class="stock-chips">
        <ion-chip
          *ngFor="let size of getAvailableSizes(product)"
          [color]="product!.stock[size] > 0 ? 'success' : 'danger'"
          [disabled]="product!.stock[size] === 0">
          <ion-label>
            {{ size }}: {{ product!.stock[size] }}
          </ion-label>
        </ion-chip>
      </div>

      <div class="product-dates" *ngIf="loggedInUserRole === 'admin'">
        <p class="product-date">Created At: {{ product.createdAt.toDate() | date:'short' }}</p>
        <p class="product-date">Updated At: {{ product.updatedAt.toDate() | date:'short' }}</p>
      </div>
    </div>

    <div class="product-actions">
      <ion-button expand="block" fill="clear" (click)="showConfirmationModal(product, 'buy')" [disabled]="!loggedInUser || !selectedSize">
        <ion-icon name="cart"></ion-icon>
      </ion-button>

      <ion-button expand="block" fill="clear" *ngIf="loggedInUserRole === 'admin'" (click)="onModifyClick(product)">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <ion-button expand="block" fill="clear" *ngIf="loggedInUserRole === 'admin'" (click)="showConfirmationModal(product, 'delete')">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
