<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fizetés Megszakítva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="cancel-container">
    <ion-icon name="close-circle-outline" class="cancel-icon"></ion-icon>
    <h2>Fizetés Megszakítva</h2>
    <p>A fizetés nem fejeződött be. Ha bármilyen kérdése van, kérjük, vegye fel a kapcsolatot ügyfélszolgálatunkkal.</p>
    <ion-button expand="full" color="primary" routerLink="/home">Vissza a Főoldalra</ion-button>
  </div>
</ion-content>