ion-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  ion-card-header,
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ion-icon{
    font-size: 25px;
  }

  .price-separator {
    display: flex;
    justify-content: center;
  }

  .first-pricerange{
    max-width: fit-content;
  }